<!DOCTYPE html>
<html>
<head>
  <title>Webgame</title>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body onload="run();">
<div id="logo"></div>
<div id="login_container">
  <form action="">
    <div class="login_input">
      <input type="text" name="user_name" placeholder="Username">
    </div><br>
    <div class="login_input">
      <input type="text" name="password" placeholder="Password">
    </div><br>
    <div id="submit_button">
      <input type="button" value="Log in!">
    </div>
  </form>
</div>
<div id="main_container">
  <div id="button_bar">
    <a class="Button" href="http://localhost:2020">PLAY</a>
    <a class="Button" href="http://localhost:2020/about_us">ABOUT US</a>
    <a class="Button" href="http://localhost:2020/leaderboards">LEADERBOARDS</a>
    <a class="Button" href="http://localhost:2020/media">MEDIA</a>
    <a class="Button" href="http://localhost:2020/github">GITHUB</a>
  </div>
  <div id="main_line_1"></div>
  <div id="about_us_content">
    <h1 id="about_us_title">About Us</h1>
    <p id="about_us_content_text">The group that lies behind Steampunk and Napalm consists of three classmates, Fredrik Svahn, Gustaf Wallin and Axel Ingelsson Fredler. All three hace one thing in common: their interest in video games which is one of the reasons to their project being centered around game design.<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed sodales nulla. Curabitur a feugiat lectus. Cras interdum egestas vehicula. Nullam eleifend vel odio sed gravida. Duis in sapien vulputate, pellentesque libero sit amet, faucibus metus. Ut laoreet nisl ligula, sit amet tincidunt eros tincidunt sed. Nulla facilisi. Nam suscipit velit vel volutpat eleifend. Pellentesque dignissim ipsum eu egestas efficitur. Cras nec ligula maximus, aliquam libero quis, pharetra mauris.

      Suspendisse tempor porta massa id fringilla. Vestibulum vitae ligula a sem feugiat elementum et ac mi. Suspendisse et diam egestas, commodo est vitae, sollicitudin arcu. Morbi mollis sem nec laoreet fermentum. Praesent pellentesque nulla at lectus molestie, nec ultrices neque ultricies. Duis ultrices feugiat diam et sodales.<br> In eget facilisis risus, accumsan aliquet justo. Nullam vitae laoreet mi, a venenatis turpis. Quisque in elementum tortor. Donec aliquet est vitae magna tempor tristique. Vivamus vitae tempus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.

      Aenean eget quam in nisi pulvinar rutrum sed id turpis. Vestibulum ut turpis eu leo sollicitudin volutpat nec placerat dui. Nulla nec pulvinar ex, eget ornare augue. Praesent in varius mauris. Suspendisse sit amet metus a est lobortis euismod. Phasellus tempor blandit ligula suscipit sodales. Aenean arcu elit, dapibus in urna nec, ornare congue ipsum. Aenean sit amet leo vitae libero dapibus volutpat. Aliquam nisl risus, egestas a leo eu, eleifend scelerisque leo. Nam in felis lectus. Mauris fringilla ipsum id ullamcorper maximus. Phasellus in quam sit amet turpis iaculis vestibulum nec at urna. Vivamus ultrices ligula pretium pretium fringilla.

      Curabitur aliquam tortor quis enim consectetur posuere. Vivamus mi arcu, ultricies nec nulla in, egestas luctus enim. Nullam iaculis congue vestibulum. Proin sed diam nec massa pretium pellentesque vitae vitae velit. Duis venenatis eu dui ut semper. Maecenas scelerisque, nisi et interdum varius, erat tortor porta ex, sit amet tincidunt arcu quam vel lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  </div>
  </div>
</body>
</html>