<!DOCTYPE html>
<html>
<head>
  <title>Webgame</title>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body onload="run();">
<div id="logo"></div>
<div id="login_container">
  <form action="">
    <div class="login_input">
      <input type="text" name="user_name" placeholder="Username">
    </div><br>
    <div class="login_input">
      <input type="text" name="password" placeholder="Password">
    </div><br>
    <div id="submit_button">
      <input type="button" value="Log in!">
    </div>
  </form>
</div>
<div id="main_container">
  <div id="button_bar">
    <a class="Button" href="http://localhost:2020">PLAY</a>
    <a class="Button" href="http://localhost:2020/about_us">ABOUT US</a>
    <a class="Button" href="http://localhost:2020/leaderboards">LEADERBOARDS</a>
    <a class="Button" href="http://localhost:2020/media">MEDIA</a>
    <a class="Button" href="http://localhost:2020/github">GITHUB</a>
  </div>
  <div id="main_line_1"></div>
  <div id="github_container">
    <a id="github_link" href="https://github.com/itgsod-Axel-IngelssonFredler/Gymnasiearbete---Videogame/tree/v0.1">Github link</a>
  </div>
</div>
</body>
</html>