<!DOCTYPE html>
<html>
    <head>
      <title>Webgame</title>
      <script src="js/script.js"></script>
      <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body onload="run();">
        <div id="logo"></div>
        <div id="login_container">
          <form action="">
            <div class="login_input">
              <input type="text" name="user_name" placeholder="Username">
            </div><br>
            <div class="login_input">
                <input type="text" name="password" placeholder="Password">
            </div><br>
            <div id="submit_button">
              <input type="button" value="Log in!">
            </div>
          </form>
        </div>
        <div id="main_container">
          <div id="button_bar">
            <div class="button">Test</div>
            <div class="button">Test</div>
            <div class="button">Test</div>
            <div class="button">Test</div>
          </div>
            <div id="canvasDiv">
                <canvas id="canvas" width="800" height="550" tabindex="1">
                <div id="health_bar_div">
                    <div id="health_bar"></div>
                </div>
                </canvas>
            </div>
        </div>
    </body>
</html>