<!DOCTYPE html>
<html>
    <head>
      <title>Webgame</title>
      <script src="js/script.js"></script>
      <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body onload="run();">
    	<div id="canvasDiv">
    	<canvas id="canvas" width="800" height="550" tabindex="1"></canvas>
    	</div>
    </body>
</html>