<!DOCTYPE html>
<html>
    <head>
      <title>Webgame</title>
      <script src="js/script.js"></script>
      <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body onload="run();">
        <div id="main_button_bar">
            <a href="https://translate.google.se/" class="button">Test Button</a>
            <a href="https://translate.google.se/" class="button">Test Button2</a>
        </div>
    	<div id="canvasDiv">
    	<canvas id="canvas" width="800" height="550" tabindex="1"></canvas>
    	</div>
    </body>
</html>