#logo {
	background-image:url("../img/Website_Logo.png");
	width:600px;
	height:100px;
	float: left;
	margin-bottom: 0;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-color: rgba(35, 99, 33, 0.68);
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#login_container {
	background-color: rgba(35, 99, 33, 0.68);
	width: 350px;
	height: 125px;
	float: right;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

.login_input {
	position: relative;
	margin-bottom: 0px;
	margin-top: 3px;
	text-align: center;

}

input[type="text"] {
	width: 200px;
	height: 25px;
}

#submit_button {
	float: left;
	margin-left: 225px;
	rgba(35, 99, 33, 0.68);

}

#main_container {
	background-color: rgba(35, 99, 33, 0.68);
	width: 100%;
	height: 800px;
	margin: auto;
	float: left;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#button_bar {
	width: 100%;
	height: 100px;
	padding: 0px;
	float: left;
	margin-top: 12px;
	margin-bottom: 10px;
}

.button {
	display: box;
	height: 100%;
	width: 250px;
	background-image: url("../img/Website_Button.png");
	text-align: center;
	font: bold 1em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	float: left;
	color: white;
	margin-left: 2.4px;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.38);
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.38);
}

#canvas {
	border:solid black 2px;
}

#canvasDiv {
	width:800px;
	height:550px;
	margin: auto;
}

body {
	background-color: black;
}

#main_header_1 {
	background-color: black;
	height: 5px;
	width: 80%;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
}

