#logo {
	background-image:url("../img/Website_Logo.png");
	width:600px;
	height:100px;
	float: left;
	margin-bottom: 0;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-color: rgba(63, 93, 61, 0.66);
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#login_container {
	background-color: rgba(63, 93, 61, 0.66);
	width: 350px;
	height: 125px;
	float: right;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

.login_input {
	position: relative;
	margin-bottom: 0px;
	margin-top: 3px;
	text-align: center;

}

input[type="text"] {
	width: 200px;
	height: 25px;
}

#submit_button {
	float: left;
	margin-left: 225px;
	rgba(35, 99, 33, 0.68);

}

#main_container {
	background-color: rgba(63, 93, 61, 0.66);
	width: 100%;
	height: 800px;
	margin: auto;
	float: left;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#about_us_content {
	background-color:rgba(133, 126, 130, 0.64) ;
	height: 70%;
	width: 80%;
	margin: auto;
	padding: 0px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#about_us_title {
	color: black;
	font: bold 3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 400px;
}

#about_us_content_text {
	color: black;
	font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 50px;
	float: left;
	width: 90%;
}

#button_bar {
	width: 100%;
	height: 100px;
	padding: 0px;
	float: left;
	margin-top: 12px;
	margin-bottom: 10px;
}

.Button {
	height: 100%;
	width: 250px;
	background-image: url("../img/Website_Button.png");
	text-align: center;
	font: bold 1em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	float: left;
	color: white;
	margin-left: 2.4px;
	-webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.38);
	box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.38);
	text-decoration: none;
}

.Button:hover {
	background-image: url("../img/Website_Button_State_2.png");
	text-decoration: none;
}

.Button:active {
	background-image: url("../img/Website_Button_State_3.png");
	text-decoration: none;
}

.Button:visited {
	background-image: url("../img/Website_Button_State_3.png");
	text-decoration: none;
}

#canvas {
	border:solid black 2px;
}

#canvasDiv {
	width:800px;
	height:550px;
	margin: auto;
}

body {
	background-color: black;
}

#main_line_1 {
	background-color: black;
	height: 5px;
	width: 80%;
	margin: auto;
	margin-top:150px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.46);
}

.leaderboards_title {
	color: black;
	font: bold 3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 115px;
}

#leaderboards_container_1 {
	background-color:rgba(133, 126, 130, 0.64);
	height: 70%;
	width: 46%;
	float: left;
	margin-left: 25px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#leaderboards_container_2 {
	background-color:rgba(133, 126, 130, 0.64);
	height: 70%;
	width: 46%;
	float: right;
	margin-right: 25px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#media_container {
	background-color:rgba(133, 126, 130, 0.64);
	height: 70%;
	width: 80%;
	margin: auto;
	padding: 0px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#media_image {
	background-color:#232323;
	height: 70%;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	padding: 0px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#thumbnail_container {
	background-color:#232323;
	height: 20%;
	width: 80%;
	margin: auto;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}
.media_thumbnail {
	height: 98%;
	width: 30%;
	margin-left: 15px;
	float: left;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

#github_link {
	background-color:rgba(7, 7, 7, 0.75);
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 11px;
	padding-bottom: 10px;
	margin-left: 375px;
	margin-top: 50px;
	font: bold 3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}

#github_container {
	background-color:rgba(133, 126, 130, 0.64) ;
	height: 70%;
	width: 80%;
	margin: auto;
	padding: 0px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #ffffff;
}